.button {
  border: none;
  text-align: right;
  font-size: 20px;
  color: #FFFFFF;
  transition: 0.25s;
  margin:4px 2px;
}

.button1{
  width: 250px;
  height: 100px;
  display: inline-block;
  background-image: url("images/employee.png");
}

.button2{
  width: 250px;
  height: 100px;
  display: inline-block;
  background-image: url("images/ad.png")
}

.button3{
  width: 250px;
  height: 100px;
  display: inline-block;
  background-image: url("images/PC.png");
}

.button4{
  width: 250px;
  height: 100px;
  display: inline-block;
  background-image: url("images/office.png");
}

.button5{
  width: 250px;
  height: 100px;
  display: inline-block;
  background-image: url("images/jim.png");
}

.image{
  position: absolute;
  top: 25%;
  left: 50%;
  width: 256px;
  height: 256px;
  /*webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;*/
}

#garfContainer{
    position: absolute;
    top: 25%;
    left: 100px;
    transition: 0.3s
}

#garfContainer.active {
  transform: translateY(400px);
}

body{
  background: rgba(255, 101, 92, 1.0);
}

.bruh{
  width: auto;
  height: auto;
  left: 460px;
  font-size: 22px;
  color: #000000;
  display: block;
}

.buttons{
  display: inline-block;
  width: 250px;
  height: 100px;
  position: absolute;
  right: 20px;
}


.text{
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
}

.ddos{
  position: sticky;
  bottom: 100px;
  left: 40px;
  height: 100px;
  width: 1000px;
  background-color: red;
  font-size: 20px;
  display: none;
  border: none;
}

.phish{
  position: sticky;
  bottom: 100px;
  left: 40px;
  height: 100px;
  width: 1000px;
  background-color: red;
  font-size: 20px;
  display: none;
  border: none;
}

.insiderAttack{
  position: sticky;
  bottom: 100px;
  left: 40px;
  height: 100px;
  width: 1000px;
  background-color: red;
  font-size: 20px;
  display: none;
  border: none;
}

.ransomInfo{
  position: sticky;
  bottom: 100px;
  left: 40px;
  height: 100px;
  width: 1000px;
  background-color: red;
  font-size: 20px;
  display: none;
  border: none;
}

.ransomNotice{
  position: absolute;
  top: 100px;
  left: 30%;
  height: 100px;
  width: 300px;
  background-color: red;
  font-size: 20px;
  border: none;
  display: none;
}
